.a{
    .b{
        width: 100px;
        height: 60px;
        background-color: pink;
        display: inline-block;
        text-align: center;
        line-height: 60px;
        color: #111;
    }
    .b:hover{
        background-color: yellow;
    }
}