.login-form {
    width: 270px;
    margin: 0 auto;
    position: relative;
    .login-form-forgot{
        position: absolute;
        right: 0;
    }
    .login-form-button {
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
    }
}