.add_subcategory {
    margin: 20px 0 50px;
    
    .add_subcategory_title {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .second {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .content_category_details {
        width: 70%;
        float: left;
        font-size: 14px;

        .content_btn {
            margin-top: 10px;
        }
    }

}
