.add_category {
    .content {
        width: 1024px;
        margin: 0 auto;
        padding: 20px;

        h3 {
            font-size: 16px;
            padding: 10px 0;
        }

        .content_prompt_title {
            padding: 10px;
            border-bottom: 1px solid #eee;
            margin-bottom: 10px;
            font-size: 16px;
        }

        .content_promt_message {
            width: 30%;
            padding:0 30px 0 10px;
            float: left;
            font-size: 14px;
        }

        .search {
            width: 70%;
            float: left;
        }
    }
}