.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.labelbox {
  display: inline-block;
  .ant-row {
    display: inline-block;
    width: 100px;
    position: relative;
    .ant-col-sm-offset-4 {
      margin-left: 0;
    }
    .anticon-close-circle-o {
      font-size: 10px;
      position: absolute;
      top: 4px;
      right: 8px;
    }
  }
}


