.home {
    width: 1024px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid #ddd;
    header {
        height: 80px;
        background-color: #eee;
        position: relative;
        .sign_in_icon {
            position: absolute;
            right: 40px;
            top: 20px;
        }
    }
    .search_tree {
        padding: 30px;
    }
    .label {
        padding: 30px;
        .label_title {
            font-size: 16px;
            display: inline-block;
            width: 50px;
            line-height: 32px;
            vertical-align: top;
            
        }
    }
    .groups {
        padding: 10px 30px;
        .group {
            float: left;
        }
    }
    
}