.edit_brand {
    .search {
        position: relative;
        margin-top: 15px;
        .search-icon {
            position: absolute;
            right: 50px;
            top: 6px;
        }
    }
    
}