.message-form {
    padding: 20px 0;
    .message {
        width: 200px;
        margin: 0 auto;
        font-size: 16px;
        text-align: left;
        span {
            width: 100px;
            text-align: right;
            display: inline-block;
        }
    }
}