.list {
    .list-item {
        width: 100px;
        height: 30px;
        border: 1px solid #ddd;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
        display: block;
        margin: 5px 0;

        &:hover {
            background-color: #eee;
        }
    }
    
}

